.body {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  padding: 2rem var(--fluid-24-98);
}

.body > * {
  width: 100%;
  max-width: 45.625rem;
}

.body > * + * {
  margin-block-start: 2.25rem;
}

@media (min-width: 48rem) {
  .body {
    padding-top: 8.75rem;
  }
}

.body.light {
  background-color: hsl(226.7, 100%, 98.2%);
  color: hsl(217, 35%, 45%);
}

.body.dark {
  background-color: hsl(220, 40.3%, 13.1%);
  color: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: light) {
  .body {
    background-color: hsl(226.7, 100%, 98.2%);
    color: hsl(217, 35%, 45%);
  }
}

@media (prefers-color-scheme: dark) {
  .body {
    background-color: hsl(220, 40.3%, 13.1%);
    color: hsl(0, 0%, 100%);
  }
}
