.body {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  padding: 2rem var(--fluid-24-98);
}

.body > * {
  width: 100%;
  max-width: 45.625rem;
}

.body > * + * {
  margin-block-start: 2.25rem;
}

.body.light {
  background-color: var(--background-color-light);
  color: var(--color-light);
}

.body.dark {
  background-color: var(--background-color-dark);
  color: var(--color-dark);
}

@media (prefers-color-scheme: light) {
  .body {
    background-color: var(--background-color-light);
    color: var(--color-light);
  }
}

@media (prefers-color-scheme: dark) {
  .body {
    background-color: var(--background-color-dark);
    color: var(--color-dark);
  }
}

@media (min-width: 48rem) {
  .body {
    padding-top: 8.75rem;
  }
}
