.body {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  color: var(--color);
  background-color: var(--background-color);
  padding: 2rem var(--fluid-24-98);
}

.body > * {
  width: 100%;
  max-width: 45.625rem;
}

.body > * + * {
  margin-block-start: 2.25rem;
}

@media (min-width: 768px) {
  .body {
    padding-top: 8.75rem;
  }
}
