.search-bar__input {
  width: 11.5rem;
  border: none;
  text-overflow: ellipsis;
  font-size: var(--font-size-text);
  height: 1.6rem;
  align-self: center;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__input::placeholder {
  color: var(--color);
}

.search-bar__input.light {
  background-color: var(--background-color-secondary-light);
}

.search-bar__input.dark {
  background-color: var(--background-color-secondary-dark);
  color: var(--color-dark);
}

@media (prefers-color-scheme: light) {
  .search-bar__input {
    background-color: var(--background-color-secondary-light);
  }
}

@media (prefers-color-scheme: dark) {
  .search-bar__input {
    background-color: var(--background-color-secondary-dark);
  }
}
