.search-bar__input {
  width: 11.5rem;
  border: none;
  text-overflow: ellipsis;
  font-size: var(--font-size-text);
  height: 1.6rem;
  align-self: center;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__input::placeholder {
  color: var(--color);
}

@media (prefers-color-scheme: light) {
  .search-bar__input {
    background-color: hwb(0 100% 0%);
  }
}

@media (prefers-color-scheme: dark) {
  .search-bar__input {
    background-color: hsl(222, 39%, 20%);
  }
}
