.card__stat-number {
  color: var(--bold-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h3);
}

@media (prefers-color-scheme: light) {
  .card {
    color: hsl(217, 21%, 21%);
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    color: hsl(0, 0%, 100%);
  }
}
