.card__stat-number {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h3);
}

.card__stat-number.light {
  color: var(--bold-color-light);
}

.card__stat-number.dark {
  color: var(--bold-color-dark);
}

@media (prefers-color-scheme: light) {
  .card__stat-number {
    color: var(--bold-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  .card__stat-number {
    color: var(--bold-color-dark);
  }
}
