@import url("./__heading/header__heading.css");
@import url("./__toggle-container/header__toggle-container.css");
@import url("./__toggle-label/header__toggle-label.css");
@import url("./__toggle/header__toggle.css");

.header {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
