.header__toggle {
  background-position: center;
  outline: none;
  border: none;
  width: 1.25rem;
  height: 1.25rem;
  background-color: transparent;
  cursor: pointer;
}

.header__toggle.light {
  background-image: var(--icon-image-light);
}

.header__toggle.dark {
  background-image: var(--icon-image-dark);
}

@media (prefers-color-scheme: light) {
  .header__toggle {
    background-image: var(--icon-image-light);
  }
}

@media (prefers-color-scheme: dark) {
  .header__toggle {
    background-image: var(--icon-image-dark);
  }
}
