.header__heading {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

.header__heading.light {
  color: var(--bold-color-light);
}

.header__heading.dark {
  color: var(--bold-color-dark);
}

@media (prefers-color-scheme: light) {
  .header__heading {
    color: var(--bold-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  .header__heading {
    color: var(--bold-color-dark);
  }
}
