.search-bar__button {
  width: 5.25rem;
  height: 2.9rem;
  border-radius: var(--border-radius-sm);
  background-color: var(--accent-color);
  color: var(--accent-background-color);
  font-weight: var(--font-weight-bold);
  border: none;
}

.search-bar__button:hover {
  background-color: var(--accent-hover-color);
}
