.header__toggle-container {
  display: flex;
}

.header__toggle-container :first-child {
  margin-inline-end: 1rem;
}

.header__toggle-container:hover * {
  color: var(--toggle-hover-color);
}

.header__toggle-container:hover .header__toggle {
  background-image: var(--icon-image-hover);
}
