.header__toggle-container {
  display: flex;
}

.header__toggle-container :first-child {
  margin-inline-end: 1rem;
}

.header__toggle-container.light:hover * {
  color: var(--toggle-hover-color-light);
}

.header__toggle-container.light:hover .header__toggle {
  background-image: var(--icon-image-hover-light);
}

.header__toggle-container.dark:hover * {
  color: var(--toggle-hover-color-dark);
}

.header__toggle-container.dark:hover .header__toggle {
  background-image: var(--icon-image-hover-dark);
}

@media (prefers-color-scheme: light) {
  .header__toggle-container:hover * {
    color: var(--toggle-hover-color-light);
  }

  .header__toggle-container:hover .header__toggle {
    background-image: var(--icon-image-hover-light);
  }
}

@media (prefers-color-scheme: dark) {
  .header__toggle-container:hover * {
    color: var(--toggle-hover-color-dark);
  }

  .header__toggle-container:hover .header__toggle {
    background-image: var(--icon-image-hover-dark);
  }
}
