.card__createdon {
  font-size: clamp(0.8rem, 0.7064rem + 2.4vw, 0.9rem);
  grid-column: 2/3;
  grid-row: 3/4;
}

@media (min-width: 90rem) {
  .card__createdon {
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: end;
  }
}
