.card__name {
  font-weight: var(--font-weight-bold);
  font-size: clamp(1rem, 0.4384rem + 2.4vw, 1.6rem);
  color: var(--bold-color);
  grid-column: 2/3;
  grid-row: 1/2;
  text-wrap: nowrap;
}

.card__name.light {
  color: var(--bold-color-light);
}

.card__name.dark {
  color: var(--bold-color-dark);
}

@media (prefers-color-scheme: light) {
  .card__name {
    color: var(--bold-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  .card__name {
    color: var(--bold-color-dark);
  }
}
