.card__stats-row {
  display: grid;
  width: 15.5rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

@media (min-width: 768px) {
  .card__stats-row {
    padding-inline-start: 2rem;
    column-gap: 5.44rem;
  }
}
