.card__stat-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .card__stat-column {
    align-items: flex-start;
  }
}
