:root {
  color-scheme: light dark;
  --accent-color: hsl(212, 100%, 50%);
  --accent-hover-color: hsl(212, 100%, 69%);
  --search-button-text-color: hsl(0, 0%, 100%);
  --error-color: hsl(0, 92%, 62%);
  --font-family: "Space Mono", mono;
  --font-weight-normal: 400;
  --font-weight-bold: 900;
  --font-size-h1: 1.6rem;
  --font-size-h2: 1.4rem;
  --font-size-h3: 1rem;
  --font-size-h4: 0.8rem;
  --font-size-text: 0.8rem;
  --border-radius-sm: 0.6rem;
  --border-radius-lg: 0.9rem;
  /* body padding */
  --fluid-24-98: clamp(1.5rem, -2.9132rem + 18.8295vw, 6.125rem);
  /* card padding */
  --fluid-24-40: clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);
}

* {
  /* Remove default margin on everything */
  margin: 0;
  /* Remove default padding on everything */
  padding: 0;
}

/* Use a more-intuitive box-sizing model on everything */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Allow percentage-based heights in the application */
  block-size: 100%;
  /* Making sure text size is only controlled by font-size */
  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /* https://marco.org/2012/11/15/text-rendering-optimize-legibility */
  text-rendering: optimizeSpeed;
  /* Allow percentage-based heights in the application */
  min-block-size: 100%;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter#example_2 */
  /* scrollbar-gutter: stable both-edges; Removed until this bug is fixed: https://bugs.chromium.org/p/chromium/issues/detail?id=1318404#c2 */
  min-height: 100vh;
  line-height: 1.5;
  position: relative;
  font-weight: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
