@import url("./__user/card__user.css");
@import url("./__avatar/card__avatar.css");
@import url("./__name/card__name.css");
@import url("./__login/card__login.css");
@import url("./__createdon/card__createdon.css");
@import url("./__bio/card__bio.css");
@import url("./__stats-wrapper/card__stats-wrapper.css");
@import url("./__stats-row/card__stats-row.css");
@import url("./__stat-column/card__stat-column.css");
@import url("./__stat-heading/card__stat-heading.css ");
@import url("./__stat-number/card__stat-number.css");
@import url("./__list/card__list.css");
@import url("./__list-item/card__list-item.css");
@import url("./__list-link/card__list-link.css");
@import url("./__list-icon/card__list-icon.css");

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4.375rem 4.688rem 5.313rem 7.938rem;
  row-gap: 1.625rem;
  padding: var(--fluid-24-40);
  background-color: var(--accent-background-color);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--drop-shadow);
  height: 32.25rem;
}

@media (min-width: 768px) {
  .card {
    grid-template-rows: 7.25rem 3.125rem 5.313rem 3.875rem;
    height: 30rem;
  }
}
