.card__stats-wrapper {
  display: flex;
  background-color: var(--background-color);
  height: 5.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-sm);
}

@media (min-width: 768px) {
  .card__stats-wrapper {
    align-items: flex-start;
  }
}
