.card__stats-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-sm);
  grid-column: 1;
}

.card__stats-wrapper.light {
  background-color: var(--background-color-light);
}

.card__stats-wrapper.dark {
  background-color: var(--background-color-dark);
}

@media (min-width: 48rem) {
  .card__stats-wrapper {
    align-items: flex-start;
  }
}

@media (min-width: 90rem) {
  .card__stats-wrapper {
    grid-column: 2/3;
    grid-row: 3;
    margin-top: 0.5rem;
  }
}

@media (prefers-color-scheme: light) {
  .card__stats-wrapper {
    background-color: var(--background-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  .card__stats-wrapper {
    background-color: var(--background-color-dark);
  }
}
