.card__stats-wrapper {
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-sm);
  grid-column: 1;
}

@media (min-width: 48rem) {
  .card__stats-wrapper {
    align-items: flex-start;
  }
}

@media (min-width: 90rem) {
  .card__stats-wrapper {
    grid-column: 2/3;
    grid-row: 3;
    margin-top: 0.5rem;
  }
}
