@import url("./__form/search-bar__form.css");
@import url("./__icon/search-bar__icon.css");
@import url("./__input/search-bar__input.css");
@import url("./__button/search-bar__button.css");

.search-bar {
  height: 3.75rem;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--drop-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  .search-bar {
    background-color: hwb(0 100% 0%);
  }
}

@media (prefers-color-scheme: dark) {
  .search-bar {
    background-color: hsl(222, 39%, 20%);
  }
}
