@import url("./__form/search-bar__form.css");
@import url("./__icon/search-bar__icon.css");
@import url("./__input/search-bar__input.css");
@import url("./__button/search-bar__button.css");

.search-bar {
  height: 3.75rem;
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar.light {
  background-color: var(--background-color-secondary-light);
  box-shadow: var(--drop-shadow-light);
}

.search-bar.dark {
  background-color: var(--background-color-secondary-dark);
  box-shadow: var(--drop-shadow-dark);
}

@media (prefers-color-scheme: light) {
  .search-bar {
    background-color: var(--background-color-secondary-light);
    box-shadow: var(--drop-shadow-light);
  }
}

@media (prefers-color-scheme: dark) {
  .search-bar {
    background-color: var(--background-color-secondary-dark);
    box-shadow: var(--drop-shadow-dark);
  }
}
